<tr>
    <td><%= album_form.text_field :title %></td>
    <td><%= album_form.text_field :year %></td>
    <td><%= album_form.select :condition, Album::ALBUM_CONDITIONS, :include_blank => "select" %></td> 
</tr>