<% title "Artists" %>

<table class='list_table'>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% for artist in @artists %>
    <tr>
      <td><%= artist_link(artist) %></td>
      <td>
        <%= link_to icon("Modify"), edit_artist_path(artist) %> 
        <%= link_to icon("Delete"), artist, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to icon("Add"), new_artist_path %></p>
